form input, textarea {
    width: 100%;
    border: none;
    outline:none;
    border-bottom: 2px solid #C8CCD8;
    resize: none;
}
@media screen and (min-width: 1240px){
    form input, textarea {
        width: 800px;
    }
}
input, textarea {
    padding: 20px;
}
