.close-icon {
    display: none;
}
.hamburger.active .close-icon {
    display: block;
}
.hamburger.active .hamburger-icon {
    display: none;
}
@media screen and (max-width: 768px) {

.nav-menu {
    position: fixed;
    top: -100%;
    background-color: #EEEFF4;
    z-index: 1000;
}
}
.nav-menu.active {
    display: block;
    top: 104px;
    right: 0;
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.nav-links {
    padding-bottom: 20px;
}
.nav-list-dropped {
    display: none;
}
.nav-items {
    padding: 10px;
}
.nav-items.active {
    margin-left: 10px;
}