//COLORS

$very-dark-blue: #1B1D23;
$dark-grey: #60636D;
$medium-grey: #7D828F;
$light-grey: #C8CCD8;
$very-light-grey: #EEEFF4;
$red: #DF5656;

//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    max-width: 1440px;
}